.carrousel{
    display: none;
    position: absolute;
    width: 50%;
    height: 50%;
    border: 2px solid coral;
    background-color: rgba(0,0,0, 0.5);
    top: 25%;
    left: 25%;
    z-index: 1;
}

.carrousel__x{
    position: absolute;
    right: 0;
    top: 0;
    padding: 2rem;
    border: 2px solid beige;
}

.carrousel--ouvrir{
    display: block;
}

.bouton_ouvrir{
    width: 200px;
}