.carrousel { 
    /* boîte modale qui contiendra le carrousel */
    transform: scale(0); /* la boîte modale est invisible */
    transition: transform 0.25s; /* permet d'animer l'ouverture de la boîte modale */
    position: fixed; /* la div carrousel reste fixe lorsque l'utilisateur scroll */
    width: 30%;
    height: 30%;
    border: 2px solid coral;
    background-color: rgba(0, 89, 95, 0.5);
    top: 0%;
    left: 0%;
    z-index: 1;
}

@media screen and (max-width: 1000px) {
    .carrousel {
        width: 10%;
        height: 10%;
        top: 10%;
        left: 10%;
    }

    .carrousel__figure {
        width: 100%;
        height: 100%;
    }    

    .carrousel__img {
        position: absolute;
        width: 5%;
        height: 5%;
        top: 0;
        left: 0;
        object-fit: contain;
        opacity: 1; /* rendre les images visibles */
    }
}

.carrousel__x {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 3px;
    margin-right: 1em;
    margin-top: 1em;
    border: 6px solid #fff;
    z-index: 1;
}

.carrousel__x:hover {
    transform: scale(150%);
}

.carrousel__figure {
    width: 100%;
    height: 100%;
}

.carrousel__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    opacity: 0; /* rendre les images invisibles */
}

.carrousel--ouvrir {
    transform: scale(1);
}

.bouton_ouvrir {
    display: none;
    width: 200px;
}

/* Pour centrer les boutons radio */
.carrousel__form {
    display: flex;
    justify-content: center;
}

.carrousel__radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    padding: 2em;
    transition: box-shadow 0.3s ease;
    margin-right: 10px; 
    align-content: center;
}

/* Changer la couleur lorsque :checked */
.carrousel__radio:checked {
    accent-color: coral;
}

/* Style des flèches */
.img__avant,
.img__apres {
    position: absolute;
    top: 50%;
    border: 3px solid white;
    color: black;
    font-size: 24px;
    cursor: pointer;
}

.img__avant {
    left: 10px;
}

.img__apres {
    right: 10px;
}
